<div class ='container'>
  <div class='row'>
    <div class="col-sm-12 col-md-8 col-lg-5 px-5 px-sm-0 mx-auto">
      <h3>Create Group</h3>
      <%= form_with model:@group, local:true do |f| %>
        <div>
          <%= f.label :グループ名 %>
          <%= f.text_field :name, class: "form-control name" %>
        </div>
        <div>
          <%= f.label :紹介文 %>
          <%= f.text_area :introduction, class: "form-control introduction" %>
        </div>
        <div>
          <%= f.label :グループ画像 %>
          <%= f.attachment_field :image, class: "form-control-file group_image" %>
        </div>
        <div>
          <br><%= f.submit class: 'btn btn-success' %>
        </div>
      <% end %>
    </div>
  </div>
</div>

